;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]
  [com.holychao/schism "0.1.2"]
  [org.clojure/core.async "1.5.648"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn ably-schism.frontend.core/init}}}}}
